
*{
    padding: 0;
    margin: 0;
}


body {
    /*字体大小*/
    font-size: 14px;
    /*设置背景图*/
    background: url("../imgs/bg.jpg");
    /*图片大小*/
    background-size: cover;
}

/*头部*/
#header{
    /*高度*/
    height: 44px;
    /*背景色*/
    background-color: rgba(0,0,0,0.2);
    /*垂直居中*/
    line-height: 44px;
    /*右对齐*/
    text-align: right;
    /*设置上下间距*/
    margin:0 0 50px 0;

}

/*头部内容*/
#header a{
    /*字体颜色*/
    color: white;
    /*加粗*/
    font-weight: bolder;
    /*间距*/
    margin-right: 8px;
    /*字体*/
    font-family: "Arial";

}

/*头部不加粗的字体*/
#header a.no-weight{
    /*不加粗的字体*/
    font-weight: normal;
}

/*头部更多产品*/
#header a.more{
    /*不显示下划线*/
    text-decoration: none;
    /*设置背景色*/
    background-color:cornflowerblue;
    /*设置内间距*/
    padding: 4px;

}


/*中间内容*/
#content{
    /*background-color: rebeccapurple;*/
}

/*百度logo图外部标签*/
#content .content-top{
    text-align: center;
}

/*百度logo图*/
#content .content-top img{
    width: 270px;
    height: 129px;
}

/*输入框外部标签*/
#content .content-middle{
    background-color: chartreuse;
    width: 600px;
    height: 35px;
    margin: 0 auto 20px;
}

/*输入框*/
#content .content-middle input{
    width: 500px;
    height: 100%;
    /*里面缩进*/
    box-sizing: border-box;
    border:1px solid #e8e8e8;
    padding-left: 10px;
}

/*输入框的点击事件*/
#content .content-middle input:focus{
    outline: none;
    border:1px solid #3385ff;
}

/*百度一下*/
#content .content-middle a{
    color: white;
    background-color: #3385ff;
    /*去除下划线*/
    text-decoration: none;
    /*改变标签的类型*/
    display: inline-block;
    width: 100px;
    height: 100%;
    /*浮动*/
    float: right;
    /*水平垂直居中*/
    text-align: center;
    line-height: 35px;
}

/*搜索框下的图片外部标签*/
#content .content-bottom{
    /*background-color: yellow;*/
    text-align: center;
    /*底部间距*/
    margin-bottom: 15px;

}

/*搜索框下的标签*/
#content .content-bottom img{
    width: 110px;
    /*圆角*/
    border-radius: 5px;
    margin: 0 10px;

}

/*鼠标进入搜索框后的事件*/
#content .content-bottom img:hover{
    /*鼠标进入时的阴影*/
    opacity: 0.5;
}

/*尾部视图*/
#footer{
    /*background-color: aqua;*/
    position:fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;
}

/*尾部视图外层标签*/
#footer .footer-header{
    margin-bottom: 8px;
}

/*尾部视图中的a标签*/
#footer .footer-header a{
    margin: 0 5px;
}

































